# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# bats files
test/bats/
test/test_helper/

# target files
target/

# environment variables
.env
